name: image_picker_app
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  image_picker: ^1.2.0
  image: ^4.5.4
  path_provider: ^2.1.5
  cupertino_icons: ^1.0.8
  google_mlkit_face_detection: ^0.13.1
  tflite_flutter: ^0.12.1
  sqflite: ^2.4.2
  camera: ^0.11.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - images/
    - assets/